body {
  color: #2554ad;

}

.info-container {

  display: flex;
  flex-direction: row;
}

.vidas-descartes-contenido {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #2554ad;
  border: 3px solid #2554ad;
  text-align: end;
  background-color: #abdbe3;
}

.campos-desk-contenido {
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #2554ad;
  border: 3px solid #2554ad;
  text-align: start;
  max-width: 150px;
  background-color: #abdbe3;
}

.mt10 {
  margin-top: 10px;
}

.vidas-descartes {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contenedor {
  border: 3px solid #000;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contenido-centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.texto-centrado {
  text-align: center;

}

.max-content {
  width: max-content;
}